############################################################
#                                                          #
#               Rede vIRCio - vIRCio.roots                 #
#                                                          #
#     CONFIGURACAO PADRAO E IMUTAVEL DA REDE vIRCio       #
#                                                          #
# Define classes, privilegios e tipos de operadores.        #
#                                                          #
# As O-Lines individuais devem ficar no ircd.conf de cada   #
# servidor ou ser integradas posteriormente ao Services.    #
#                                                          #
############################################################


# ==========================================================
# VIEW
# ==========================================================
#
# Privilegios exclusivamente relacionados a visualizacao
# administrativa da rede.
#

<class
    name="View"

    commands="CHECK TLINE CLONES"

    privs="channels/auspex users/auspex users/channel-spy users/secret-whois servers/auspex"

    snomasks="*">


# ==========================================================
# USER CONTROL
# ==========================================================
#
# Administracao de usuarios sem incluir bans globais.
#

<class
    name="UserControl"

    commands="CHGHOST CHGIDENT CHGNAME NICKLOCK NICKUNLOCK SETHOST SETIDENT SETIDLE SWHOIS"

    privs="users/auspex"

    usermodes="*"
    chanmodes="*">


# ==========================================================
# SA COMMANDS
# ==========================================================
#
# Comandos administrativos que atuam diretamente sobre
# usuarios e canais.
#

<class
    name="SACommands"

    commands="SAJOIN SAKICK SAMODE SANICK SAPART SAQUIT SATOPIC OJOIN"

    privs="users/sajoin-others users/samode-usermodes"

    usermodes="*"
    chanmodes="*">


# ==========================================================
# BAN CONTROL
# ==========================================================
#
# Controle de bans, kills, shuns e X-Lines.
#

<class
    name="BanControl"

    commands="KILL GLINE KLINE ZLINE QLINE ELINE RLINE CBAN SHUN TLINE"

    usermodes="*"
    chanmodes="*"

    snomasks="Xx">


# ==========================================================
# OPER CHAT
# ==========================================================
#
# Comunicacao administrativa da rede.
#

<class
    name="OperChat"

    commands="WALLOPS GLOBOPS"

    privs="users/mass-message"

    usermodes="*"
    chanmodes="*"

    snomasks="Gg">


# ==========================================================
# PERMISSIONS
# ==========================================================
#
# Permissoes especiais para ignorar restricoes normais
# impostas aos usuarios.
#

<class
    name="Permissions"

    privs="channels/ignore-chanfilter channels/ignore-delaymsg channels/ignore-noctcp channels/ignore-nonicks channels/ignore-opmoderated channels/ignore-repeat channels/restricted-create users/ignore-callerid users/ignore-commonchans users/ignore-noctcp users/ignore-privdeaf users/secret-whois servers/ignore-blockamsg servers/ignore-shun servers/ignore-securelist servers/use-disabled-commands servers/use-disabled-modes"

    usermodes="*"
    chanmodes="*">


# ==========================================================
# FLOOD EXEMPT
# ==========================================================
#
# Estes privilegios removem protecoes de flood e sao exclusivos de niveis
# administrativos elevados.
#

<class
    name="FloodExempt"

    privs="users/flood/increased-buffers users/flood/no-fakelag users/flood/no-throttle">




# ==========================================================
# SERVER LINK
# ==========================================================
#
# Administracao da topologia e links da rede.
#

<class
    name="ServerLink"

    commands="CONNECT SQUIT RCONNECT RSQUIT ALLTIME JUMPSERVER LOCKSERV UNLOCKSERV"

    privs="servers/auspex"

    usermodes="*"
    chanmodes="*"

    snomasks="CcLl">


# ==========================================================
# SERVER ADMIN
# ==========================================================
#
# Administracao da configuracao e dos modulos do IRCd.
#

<class
    name="ServerAdmin"

    commands="REHASH LOADMODULE UNLOADMODULE RELOADMODULE GLOADMODULE GUNLOADMODULE GRELOADMODULE MKPASSWD"

    usermodes="*"
    chanmodes="*">


# ==========================================================
# SHUTDOWN
# ==========================================================
#
# Controle destrutivo do daemon.
#
# IRC Admin possui acesso completo atraves de IRCAdminAccess.
# IRC Oper nao possui controle destrutivo do daemon.
#

<class
    name="Shutdown"

    commands="DIE RESTART">


# ==========================================================
# IRC ADMIN ACCESS
# ==========================================================
#
# Acesso irrestrito.
#
# Exclusivo do IRC Admin.
#

<class
    name="IRCAdminAccess"

    commands="*"
    privs="*"
    usermodes="*"
    chanmodes="*"
    snomasks="*">


############################################################
#
# TIPOS DE OPERADORES
#
############################################################


# ==========================================================
# IRCADMIN
# ==========================================================
#
# Maior nivel administrativo do InspIRCd.
#
# Services Root, Services Admin e Services Oper
# pertencem exclusivamente ao Anope.
#

<type
    name="IRC Admin"

    classes="IRCAdminAccess"

    # Usado por m_vircio_admin para proteger administradores
    # de nivel maximo da Rede vIRCio.
    privs="users/vircio-admin"

    level="100"

    maxchans="300"

    modes="+s +cCq">


# ==========================================================
# IRC OPER
# ==========================================================
#
# IRC Operator global para operacao cotidiana da rede.
# Nao recebe IRCAdminAccess.
#

<type
    name="IRC Oper"

    classes="View UserControl BanControl OperChat"

    level="50"

    maxchans="300"

    modes="+s +cCq">


############################################################
#
# EQUIPE GLOBAL - O-LINES
#
############################################################
#
# Estas contas existem em cada IRCd da Rede vIRCio.
#
# Operadores especificos de apenas um servidor devem ser
# definidos no ircd.conf daquele servidor.
#
############################################################


# ==========================================================
# cirinho
# ==========================================================
#
# IRC Admin global da Rede vIRCio.
# O nivel correspondente no Anope e configurado separadamente.
#

<oper
    name="cirinho"
    password="HASH_BCRYPT_CIRINHO"
    host="*@*"
    sslonly="yes"
    type="IRC Admin"
    hash="bcrypt">


# ==========================================================
# rockcavera
# ==========================================================
#
# IRC Admin global da Rede vIRCio.
# O nivel correspondente no Anope e configurado separadamente.
#

<oper
    name="rockcavera"
    password="HASH_BCRYPT_ROCKCAVERA"
    hash="bcrypt"
    host="*@*"
    sslonly="yes"
    type="IRC Admin">


############################################################
#
# OPERADORES LOCAIS
#
############################################################
#
# IRC Admins ou IRC Opers que existam apenas em um IRCd
# devem ser declarados no ircd.conf desse servidor.
#
############################################################
